:root {
    --system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-color: rgb(24, 136, 170);
    background-color: #d8dde2;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

.header-container {
    margin: 0;
    box-shadow: 0 4px 2px -2px gray;
    width: 100%;
    background-color: white;
}

.header-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    min-width: 640px
}

#header-title-text {
    margin: 0;
    font-size: 3rem;
    font-family: 'Bree Serif', var(--system-ui);
    letter-spacing: 4px;
    font-weight: 700;
}

.header-title-wrapper > svg {
    height: 100px;
    cursor: pointer;
    fill: rgba(0,0,0,0.8)
}

.header-title-wrapper > svg:hover {
    fill: rgba(0,0,0,1)
}

.content-container {
    padding: 30px 30px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: minmax(250px, 1fr) minmax(250px, 1fr);
    column-gap: 25px;
}

.home-nav-wrapper {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 2;
    grid-column: 1 / 1;
    background-color: white;
    min-width: 250px
}

.proj-nav-wrapper {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    background-color: white;
    min-width: 250px;
}

.nav-proj-list {
    overflow-x: hidden;
    overflow-y: auto;
    height: 230px;
}

.nav-home-list, 
.nav-proj-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

#proj-nav-title,
#home-title-text {
    background-color: rgb(24, 136, 170);
    color: white;
    font-family: 'Bree Serif', var(--system-ui);
    margin: 0px;
    padding: 20px;
    letter-spacing: 3px;
    font-size: 1.5rem
}

#add-proj-btn {
    cursor: pointer;
}

#add-proj-btn:hover {
    fill: rgb(255, 255, 255);
}

#container-header-text {
    font-family: 'Bree Serif', var(--system-ui);
    margin: 0px;
    letter-spacing: 3px;
}


.nav-home-list > li,
.nav-proj-list > li {
  font-size:  1.5rem;
}

.nav-home-list > li:hover,
.nav-proj-list > li:hover {
    border-right: 20px solid rgb(108, 190, 173);
}

.nav-home-list-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-family: 'Bree Serif', var(--system-ui);
    padding: 15px 25px;
}

.nav-proj-list-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    font-family: 'Bree Serif', var(--system-ui);
    padding: 10px 25px;
}

#proj-nav-title > svg,
.nav-home-list-item > svg {
    height: 50px;
}

#proj-nav-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.notes-wrapper {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    background-color: white;
}

.container-header-wrapper {
    padding: 20px;
    background-color: rgb(24, 136, 170);
    color: white;
}

.form-container {
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 120px 200px 200px 100px 100px;
    width: 50%;
    position: relative;
}

.form-proj-container {
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    width: 50%;
    position: relative;
    height: 50%;
}

#form-title {
    color: white;
    font-size: 3rem;
    font-family: "Bree Serif", var(--system-ui);
    letter-spacing: 3px;
    background-color: black;
    padding: 25px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

textarea,
input[type="text"] {
    font-size: 1.2rem;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
    width: 100%;
    font-family: 'Gentium Book Plus', var(--system-ui);
}

input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    font-size: 1.2rem;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
}

textarea::placeholder,
input::placeholder {
    font-family: 'Bree Serif', var(--system-ui);
}

.form-row-1 {
    grid-column: 1 / 3;
}

.form-row-1 > svg {
    height: 50px;
}


.form-row-2 {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 20px;
    gap: 50px;
}

.form-row-3 {
    display: flex;
    flex-direction: column;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    padding: 20px;
    gap: 50px;
}

.form-row-4 {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 20px;
    gap: 50px;
}

.form-row-5 {
    display: flex;
    flex-direction: column;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    justify-content: flex-end;
    align-items: center;
}

.form-row-6 {
    display: flex;
    flex-direction: column;
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    justify-content: center;
    align-items: center;
}

label {
    font-family: 'Bree Serif', var(--system-ui);
}

#label-2 {
    padding: 0;
    font-family: 'Bree Serif', var(--system-ui);
}

#label-3 {
    display: flex;
    flex-direction: column;
}

#label-4 {
    display: flex;
    flex-direction: column;
}

#label-5 {
    display: flex;
    flex-direction: column;
    height: 200px;
}

#project,
#priority {
    font-size: 1.2rem;
    height: 2rem;
    font-family: 'Gentium Book Plus', var(--system-ui);
}

#dueDate {
    height: 1.5rem;
}

#add-task-form-btn {
    width: 200px;
    height: 60px;
    border: 0;
    outline: 0;
    border-radius: 50px;
    font-size: 1.5rem;
    font-family: "Bree Serif", var(--system-ui);
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}

#add-task-form-btn:hover {
    background-color: rgb(17, 98, 122);
}

#close-form-btn {
    height: 70px;
    fill: rgb(228, 77, 77);
    cursor: pointer;
}

#close-form-btn:hover {
    fill: rgb(182, 29, 29);
}

.selected {
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    fill:  rgb(255, 255, 255);
}

#no-notes-text {
    font-size: 1.5rem;
    font-family: 'Gentium Book Plus', var(--system-ui);
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#form-wrapper {
	display: flex;
	justify-content: center;
	align-self: center;
	position: fixed;
	z-index: 1;
	padding-top: 50px; /* Location of the box */
 	left: 0;
 	top: 0;
 	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: max(200px, 100%);
    font-size: 1rem;
    font-family: 'Tilt Neon', var(--system-ui)
}

#github-logo {
    height: 40px;
    width: 40px;
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 520px;
}

#title:invalid {
    border-bottom: 2px solid red;
}

#title:valid {
    border-bottom: 2px solid rgb(0, 158, 26);
}

#dueDate:valid {
    outline: none;
    border: 2px solid  rgb(0, 158, 26);
}

#dueDate:invalid {
    outline: none;
    border: 2px solid red;
}

.priority {
    border-left: 20px solid rgb(250, 84, 84);
}

.not-urgent {
    border-left: 20px solid rgb(103, 185, 103);
}


.tasks-card > * {
    margin: 0;
}

.tasks-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    box-shadow: 0 4px 2px -2px gray;
    gap: 10px;
}

.crossed {
    text-decoration: line-through;
    background-color: rgb(65, 65, 65);
    color: white;
    fill: white;
}

input[type="checkbox"] {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.tasks-title {
    font-family: 'Alkatra', var(--system-ui);
    letter-spacing: 1px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 auto 0 0;
}

.tasks-due {
    font-family: 'Gentium Book Plus';
    font-size: 0.9rem;
}

.tasks-prio {
    font-family: 'Gentium Book Plus';
    font-size: 0.9rem;
    outline: 1px solid green;
    padding: 5px;
    color: green;
    width: 100px;
    text-align: center;
}

.notes-control-wrapper {
    display: flex;
    gap: 10px;
}

.notes-control-wrapper > svg {
    height: 25px;
}

#edit-btn:hover,
#del-btn:hover {
    fill: rgba(0,0,0, 0.7)
}

.edit-btn {
    background-image: url('./assets/file-edit.png');
}

.del-btn {
    background-image: url('./assets/delete.png');
}

.edit-btn,
.del-btn {
    height: 25px;
    width: 25px;
    cursor: pointer;
    fill: rgba(0,0,0, 1);
    background-size: 25px;
    background-position: center;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.hide {
    display: none;
}